.gcloudignore
.git
.gitignore
**/node_modules/
**/.venv/
**/*.db
**/*.sqlite*
**/*.log
**/__pycache__/
**/.pytest_cache/
frontend/node_modules/
backend/.venv/
backend/__pycache__/
*.pyc
*.pyo
*.pyd
.env*
